*{
  margin: 0px;
}
fieldset{
  width: 200px;
  height: 250px;
  text-align: center;
  margin-top: 15px;
  margin:auto;
}

/*VISOR RESULTADO*/
#resultado{
  margin: auto;
  width: 150px;
  padding: 10px;
  height: 10px;
  border: 1px solid;
  margin-bottom: 15px;
  margin-top: 5px;
}
/*BOTÕES OPERADORES*/
.btnoperador{
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 3px;
}
.btnfuncao{
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 3px;
}
/*BOTÕES NUMEROS*/
.btnnumero{
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 3px;
}